n8n-workflows/Andy_AI_Content_Farm.json
{
  "name": "Andy AI Content Farm",
  "active": false,
  "nodes": [
    {
      "id": "5ef7f0bf-8552-4c24-b4b5-018959b85225",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      }
    },
    {
      "id": "51c6f6df-dfca-4a0f-9fa6-48424d7b41b5",
      "name": "Read Master Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        200
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst config = JSON.parse(fs.readFileSync('/Users/emofficemba/ai-content-farm/config/master-config.json', 'utf8'));\nconst persona = config.personas['andy'];\nreturn [{\n  json: {\n    persona_key: 'andy',\n    persona: persona,\n    photo_specs: config.system.photography,\n    rules: config.system.generation_rules,\n    lens_rotation: config.system.lens_rotation_groups\n  }\n}];"
      }
    },
    {
      "id": "e9c6cc48-8257-45ea-8bbe-8cb18fce3360",
      "name": "Get Persona State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/state/andy",
        "options": {}
      }
    },
    {
      "id": "a831211a-ee63-428d-a14d-8e511a3e7ea5",
      "name": "Kimi Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/research",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"persona_key\":\"andy\"}"
        },
        "options": {}
      }
    },
    {
      "id": "6e1f7443-3d95-4796-a6e2-3af57acafe57",
      "name": "Build 4 Image Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ],
      "parameters": {
        "jsCode": "const photo = $input.first().json.photo_specs;\nconst concept = $input.first().json.concept;\nconst lenses = $input.first().json.lenses;\nconst persona = $input.first().json.persona_name;\nconst camera = photo.camera;\n\nconst lensMap = photo.lenses;\nconst prompts = lenses.map((l, idx) => {\n  return `${persona} portrait. ${photo.style}. ${photo.skin}. ${photo.lighting}. Wearing ${concept.outfit} at ${concept.location}. Shot on ${camera} with ${lensMap[l]}. ${l} perspective. ${photo.negative_prompt}. IG ${photo.ig_ratio}.`;\n});\n\nreturn [{\n  json: {\n    prompts,\n    lenses,\n    persona,\n    concept,\n    postInGroup: $input.first().json.cycle_position\n  }\n}];"
      }
    },
    {
      "id": "0a5a6fd5-010c-42c0-ac67-69de863c90c1",
      "name": "Generate Image 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456/generate",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"prompt\":\"={{ $json.prompts[0] }}\",\"ratio\":\"4:5\",\"persona\":\"={{ $json.persona }}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "7f33b00b-7ddc-4040-8c99-d17b1665537f",
      "name": "Generate Image 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456/generate",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"prompt\":\"={{ $json.prompts[1] }}\",\"ratio\":\"4:5\",\"persona\":\"={{ $json.persona }}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "b5d44b72-4bc3-4167-b12e-401f165c0da9",
      "name": "Generate Image 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456/generate",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"prompt\":\"={{ $json.prompts[2] }}\",\"ratio\":\"4:5\",\"persona\":\"={{ $json.persona }}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "97409767-e5df-4a37-87af-22969cfb1362",
      "name": "Generate Image 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456/generate",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"prompt\":\"={{ $json.prompts[3] }}\",\"ratio\":\"4:5\",\"persona\":\"={{ $json.persona }}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "7f049213-37c5-4808-9b22-a67fbdb1e479",
      "name": "Merge 4 Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        530,
        650
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      }
    },
    {
      "id": "63971760-edb1-46e3-8f45-aee5d34ae746",
      "name": "Post Carousel to IG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        650
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ig-post",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"images\":[\"={{$json[0].imageUrl}}\",\"={{$json[1].imageUrl}}\",\"={{$json[2].imageUrl}}\",\"={{$json[3].imageUrl}}\"],\"caption\":\"={{$json[0].caption}}\",\"persona\":\"={{$json[0].persona}}\",\"ratio\":\"4:5\"}"
        },
        "options": {}
      }
    },
    {
      "id": "293514b9-88d3-4847-8214-f02c76d8e350",
      "name": "Update State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        970,
        650
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/state/andy/posted",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"post_id\":\"={{ Date.now() }}\",\"brand\":\"={{$json.concept.brand}}\",\"location\":\"={{$json.concept.location}}\",\"outfit\":\"={{$json.concept.outfit}}\",\"image_paths\":[\"={{$json[0].imageUrl}}\",\"={{$json[1].imageUrl}}\",\"={{$json[2].imageUrl}}\",\"={{$json[3].imageUrl}}\"],\"caption\":\"={{$json.concept.caption}}\",\"cycle_position\":\"={{$json.postInGroup}}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "eaad22ba-d575-4290-b3eb-249c8d7ab882",
      "name": "Telegram Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1190,
        650
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ {{$json.persona}} 第{{$json.postInGroup}}個post 已發布！4張相片鏡頭：{{$json.lenses.join(', ')}}"
      }
    },
    {
      "id": "bdfe83f5-7de4-4663-b5bf-9c3d21cc3ea5",
      "name": "Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        750,
        850
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "❌ andy pipeline failed: {{$json.error}}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Master Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Config": {
      "main": [
        [
          {
            "node": "Get Persona State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Persona State": {
      "main": [
        [
          {
            "node": "Kimi Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kimi Research": {
      "main": [
        [
          {
            "node": "Build 4 Image Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 4 Image Prompts": {
      "main": [
        [
          {
            "node": "Generate Image 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 1": {
      "main": [
        [
          {
            "node": "Merge 4 Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 2": {
      "main": [
        [
          {
            "node": "Merge 4 Images",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate Image 3": {
      "main": [
        [
          {
            "node": "Merge 4 Images",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Generate Image 4": {
      "main": [
        [
          {
            "node": "Merge 4 Images",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge 4 Images": {
      "main": [
        [
          {
            "node": "Post Carousel to IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Carousel to IG": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State": {
      "main": [
        [
          {
            "node": "Telegram Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": {},
  "meta": null,
  "tags": [
    "Instagram Automation"
  ]
}