n8n-workflows/FB_+_IG_Unified_Content_Poster_(Fleet).json
{
  "name": "FB + IG Unified Content Poster (Fleet)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fb-ig-poster",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "value": "={{ $json.text || $json.message || 'Default post from fleet' }}",
              "type": "string"
            },
            {
              "id": "image_url",
              "name": "image_url",
              "value": "={{ $json.image_url || $json.photo || '' }}",
              "type": "string"
            },
            {
              "id": "video_url",
              "name": "video_url",
              "value": "={{ $json.video_url || '' }}",
              "type": "string"
            },
            {
              "id": "platforms",
              "name": "platforms",
              "value": "={{ $json.platforms || ['fb', 'ig'] }}",
              "type": "array"
            },
            {
              "id": "fb_page_id",
              "name": "fb_page_id",
              "value": "={{ $json.fb_page_id || 'me' }}",
              "type": "string"
            },
            {
              "id": "ig_user_id",
              "name": "ig_user_id",
              "value": "={{ $json.ig_user_id || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-data",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "post-fb",
              "leftValue": "={{ $json.platforms.includes('fb') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-fb",
      "name": "Post to FB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/{{ $json.fb_page_id }}/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "access_token",
              "value": "={{ $credentials.accessToken || $env.FB_PAGE_TOKEN }}"
            }
          ]
        },
        "options": {},
        "headerParameters": {
          "parameters": []
        }
      },
      "id": "post-fb",
      "name": "Post to FB Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fb-page-auth",
          "name": "FB Page Token (Header or Query)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "post-ig",
              "leftValue": "={{ $json.platforms.includes('ig') && $json.ig_user_id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ig",
      "name": "Post to IG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/{{ $json.ig_user_id }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $json.text }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json.image_url }}"
            },
            {
              "name": "video_url",
              "value": "={{ $json.video_url }}"
            },
            {
              "name": "access_token",
              "value": "={{ $credentials.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ig-create-media",
      "name": "IG Create Media Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fb-page-auth",
          "name": "FB Page Token (Header or Query)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/{{ $json.ig_user_id }}/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id || $json.creation_id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $credentials.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ig-publish",
      "name": "IG Publish Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fb-page-auth",
          "name": "FB Page Token (Header or Query)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, fb: $json.id || 'skipped', ig: $json.creation_id || 'skipped', timestamp: new Date().toISOString() } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "command": "echo 'Posted to FB/IG via n8n fleet workflow. Text: {{ $json.text }}' >> ~/Library/Logs/fb-ig-poster.log",
        "options": {}
      },
      "id": "log-to-file",
      "name": "Log to Fleet",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1.2,
      "position": [
        1120,
        480
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Post to FB?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to IG?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to FB?": {
      "main": [
        [
          {
            "node": "Post to FB Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to IG?": {
      "main": [
        [
          {
            "node": "IG Create Media Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Create Media Container": {
      "main": [
        [
          {
            "node": "IG Publish Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Publish Media": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Fleet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to FB Page": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "green-fleet-n8n"
  },
  "tags": []
}