n8n-workflows/Julia_AI_Content_Farm.json
{
  "name": "Julia AI Content Farm",
  "active": false,
  "nodes": [
    {
      "id": "94011b6a-eacc-4b53-8ee9-0b7d0761509c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      }
    },
    {
      "id": "99389d09-bbd8-4e2b-bb0a-8165123f48a0",
      "name": "Read Master Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        200
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst config = JSON.parse(fs.readFileSync('/Users/emofficemba/ai-content-farm/config/master-config.json', 'utf8'));\nconst persona = config.personas['julia'];\nreturn [{\n  json: {\n    persona_key: 'julia',\n    persona: persona,\n    photo_specs: config.system.photography,\n    rules: config.system.generation_rules,\n    lens_rotation: config.system.lens_rotation_groups\n  }\n}];"
      }
    },
    {
      "id": "9c8f3152-7028-42d7-9511-bf3fe145b31e",
      "name": "Get Persona State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/state/julia",
        "options": {}
      }
    },
    {
      "id": "576cb3c5-6942-4a15-bcc2-3c836e594735",
      "name": "Kimi Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/research",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"persona_key\":\"julia\"}"
        },
        "options": {}
      }
    },
    {
      "id": "1e9f2ba3-e67d-4032-91d7-b7a04a008272",
      "name": "Build 4 Image Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ],
      "parameters": {
        "jsCode": "const photo = $input.first().json.photo_specs;\nconst concept = $input.first().json.concept;\nconst lenses = $input.first().json.lenses;\nconst persona = $input.first().json.persona_name;\nconst camera = photo.camera;\n\nconst lensMap = photo.lenses;\nconst prompts = lenses.map((l, idx) => {\n  return `${persona} portrait. ${photo.style}. ${photo.skin}. ${photo.lighting}. Wearing ${concept.outfit} at ${concept.location}. Shot on ${camera} with ${lensMap[l]}. ${l} perspective. ${photo.negative_prompt}. IG ${photo.ig_ratio}.`;\n});\n\nreturn [{\n  json: {\n    prompts,\n    lenses,\n    persona,\n    concept,\n    postInGroup: $input.first().json.cycle_position\n  }\n}];"
      }
    },
    {
      "id": "34bfb331-9f75-4aea-ac0e-f85052f6334e",
      "name": "Generate Image 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456/generate",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"prompt\":\"={{ $json.prompts[0] }}\",\"ratio\":\"4:5\",\"persona\":\"={{ $json.persona }}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "69a1541f-702d-40df-a774-4408df929941",
      "name": "Generate Image 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456/generate",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"prompt\":\"={{ $json.prompts[1] }}\",\"ratio\":\"4:5\",\"persona\":\"={{ $json.persona }}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "651ab1c2-f9e9-4524-9ed5-c564ccf699a4",
      "name": "Generate Image 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456/generate",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"prompt\":\"={{ $json.prompts[2] }}\",\"ratio\":\"4:5\",\"persona\":\"={{ $json.persona }}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "610d10d2-63b1-4774-9c5d-44bb400d8c58",
      "name": "Generate Image 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456/generate",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"prompt\":\"={{ $json.prompts[3] }}\",\"ratio\":\"4:5\",\"persona\":\"={{ $json.persona }}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "51231096-f764-4f20-b94f-69d9a2f52b3d",
      "name": "Merge 4 Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        530,
        650
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      }
    },
    {
      "id": "153bbd5c-7834-42a4-823e-6ad355e8ae2f",
      "name": "Post Carousel to IG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        650
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ig-post",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"images\":[\"={{$json[0].imageUrl}}\",\"={{$json[1].imageUrl}}\",\"={{$json[2].imageUrl}}\",\"={{$json[3].imageUrl}}\"],\"caption\":\"={{$json[0].caption}}\",\"persona\":\"={{$json[0].persona}}\",\"ratio\":\"4:5\"}"
        },
        "options": {}
      }
    },
    {
      "id": "626f9fb4-cc76-479d-b865-f27be3cffc49",
      "name": "Update State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        970,
        650
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/state/julia/posted",
        "sendBody": true,
        "body": {
          "contentType": "json",
          "json": "{\"post_id\":\"={{ Date.now() }}\",\"brand\":\"={{$json.concept.brand}}\",\"location\":\"={{$json.concept.location}}\",\"outfit\":\"={{$json.concept.outfit}}\",\"image_paths\":[\"={{$json[0].imageUrl}}\",\"={{$json[1].imageUrl}}\",\"={{$json[2].imageUrl}}\",\"={{$json[3].imageUrl}}\"],\"caption\":\"={{$json.concept.caption}}\",\"cycle_position\":\"={{$json.postInGroup}}\"}"
        },
        "options": {}
      }
    },
    {
      "id": "eb806b0c-251d-40bb-b313-e72fe659b1d8",
      "name": "Telegram Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1190,
        650
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ {{$json.persona}} 第{{$json.postInGroup}}個post 已發布！4張相片鏡頭：{{$json.lenses.join(', ')}}"
      }
    },
    {
      "id": "340b574f-b3a8-4df9-ba04-37fa86fa2faf",
      "name": "Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        750,
        850
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "❌ julia pipeline failed: {{$json.error}}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Master Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Config": {
      "main": [
        [
          {
            "node": "Get Persona State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Persona State": {
      "main": [
        [
          {
            "node": "Kimi Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kimi Research": {
      "main": [
        [
          {
            "node": "Build 4 Image Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 4 Image Prompts": {
      "main": [
        [
          {
            "node": "Generate Image 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 1": {
      "main": [
        [
          {
            "node": "Merge 4 Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 2": {
      "main": [
        [
          {
            "node": "Merge 4 Images",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate Image 3": {
      "main": [
        [
          {
            "node": "Merge 4 Images",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Generate Image 4": {
      "main": [
        [
          {
            "node": "Merge 4 Images",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge 4 Images": {
      "main": [
        [
          {
            "node": "Post Carousel to IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Carousel to IG": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State": {
      "main": [
        [
          {
            "node": "Telegram Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": {},
  "meta": null,
  "tags": [
    "Instagram Automation"
  ]
}